*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* font-family: 'Bebas Neue', cursive; */
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 13px;
}

.container{
   max-width: 1200px;
   margin: auto;
}
.button{
   
   padding: 25px;
   background-color: #FFDA00;
   display: inline-flex;
   max-width: 160px;
}
h3.titulo{
   font-size: 30px;
   font-weight: bold;
   color: #4A4A49;
   text-transform: uppercase;
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 5px;

}
h3.titulo-menor{
   font-size: 20px;
   font-weight: bold;
   color: #4A4A49;
   text-transform: uppercase;
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 5px;
}
h2.titulo-light{
   font-family: 'Bebas Neue', cursive; 
   font-size: 40px;
   color: #FFFBE3;
   text-transform: uppercase;
   letter-spacing: 5px;
}

header{
   display: flex;
   flex-direction: column;
   

}
header .tarja{
   background-color: #FFDA00;
   height: 45px;
   display: flex;
   align-items: center;
}
header .tarja-itens{
   flex: 1;
   display: flex;
   
   justify-content: space-between;
   
}
header .tarja-item{
   display: flex;
   justify-content: center;
   align-items: center;
}
header .tarja-item div{
   padding: 2px;
   font-size: 13px;
}
header .tarja-item div.text-bold{
   font-weight: bold;
}
header .menu{
   
   height: calc(100vh - 45px);
   
}
.menu-left-right{
   background-color: transparent;
   background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); 
   height: 105px;
   display: flex;
   
   justify-content: space-between;
   align-items: center;
}
.menu-left-right .left, .menu-left-right .right{
   display: flex;
   align-items: center;
}

nav ul{
   display: flex;
}
nav ul li{
   list-style: none;
   
}
nav ul a{
   text-decoration: none;
   padding: 10px;
   font-size: 12px;
   color: #FFDA00;
}
nav ul a:hover{
   color: #FFFBE3;
}
header .right div{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 30px;
}
header .right div input{
   border: 0;
   outline: 0;
   background-color: transparent;
   color: #FFDA00;
}
header .right div input::-webkit-input-placeholder{
   color: #FFDA00;
}
header .right .pesquisa{
   border: 2px solid #FFDA00;
   padding: 15px;
}
header .right .img-carrinho{
   background-color: #292929;
   width: 90px;
   height: 90px;
}


section.primeira{
   background-image: url(../../media/canivete.png);
   background-size: cover;
   background-position: center;
   height: calc(100vh - 45px);
   width: 100%;
   position: relative;
   top: -105px;
   z-index: -1;
   display: flex;
   flex-direction: column;
   
}

.primeira .conteudo{
   flex: 1;
   display: flex;
   justify-content: center;
   margin-right: 100px;
   width: 100vw;
   flex-direction: column;   
}

.primeira .conteudo h2.titulo-light{
   width: 250px;
}

.button a{
   padding-right: 30px;
   text-transform: uppercase;
   font-weight: bold;
   text-decoration: none;
}


section.promo{
   display: flex;
   flex-direction: column;
   

}
.section-promo1{
display: flex;
}
.section-promo1 .section-promo-img{
   width: 60%;
   height: 800px;
   background-image: url(../../media/machadocimo.jpg);
   background-size: cover;
   background-position: center;
}

.section-promo1 .section-promo-prod{
   width: 40%;
   height: 800px;
   background-image: url(../../media/machadocimo2.jpg);
   background-size: cover;
   background-position: center;
   display: flex;
}

.section-promo2{
display: flex;
flex-direction: row-reverse;
}
.section-promo2 .section-promo-img{
   width: 60%;
   height: 800px;
   background-image: url(../../media/canivetecimo.jpg);
   background-position: center;
   background-size: cover;
}

.section-promo2 .section-promo-prod{
   width: 40%;
   height: 800px;
   background-image: url(../../media/canivetecimo2.jpg);
   background-position: center;
   background-size: cover;
   display: flex;
}


.section-promo-prod .desc{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   width: 100%;
}
.section-promo-prod .desc .conteudo{
   margin: 30px;
   width: 280px;
   
}

.section-promo-prod .desc h4{
   font-size: 20px;
   font-weight: bold;
   color: #4A4A49;
   padding: 10px 0px;
}
.section-promo-prod .desc p{
   font-size: 13px;
   font-weight: bold;
   color: #4A4A49;
   
}


.metal-raro{
   background-color: #000;
   height: 830px;
   display: flex;
}
.metal-raro-left, .metal-raro-right{
   flex: 1;
}
.metal-raro-center{
   max-width: 320px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.metal-raro-center .titulo{
   color: #FFFBE3;
   padding: 30px 66px;
   text-align: center;
}
.metal-raro-left{
   position: relative;
}
.metal-raro-left1{
   width: 310px;
   height: 315px;
   background-image: url(../../media/imagem1.jpg);
   background-size: cover;
   background-position: center;
   position: absolute;
   top: 10px;
   right: 0px;
}
.metal-raro-left2{
   width: 350px;
   height: 520px;
   background-image: url(../../media/imagem2.jpg);
   background-size: cover;
   background-position: center;
   position: absolute;
   top: 160px;
   right: 160px;
}
.metal-raro-left3{
   width: 255px;
   height: 265px;
   background-image: url(../../media/imagem3.jpg);
   background-size: cover;
   background-position: center;
   position: absolute;
   bottom: 10px;
   right: 20px;
}
.metal-raro-right{
   position: relative;
}
.metal-raro-right1{
   width: 235px;
   height: 295px;
   background-image: url(../../media/imagem4.jpg);
   background-size: cover;
   background-position: center;
   position: absolute;
   top: 10px;
   left: 0px;
}
.metal-raro-right2{
   width: 405px;
   height: 285px;
   background-image: url(../../media/imagem5.jpg);
   background-size: cover;
   background-position: center;
   position: absolute;
   top: 245px;
   left: 105px;
}
.metal-raro-right3{
   width: 225px;
   height: 340px;
   background-image: url(../../media/imagem6.jpg);
   background-size: cover;
   background-position: center;
   position: absolute;
   bottom: 10px;
   left: 20px;
}


.personalize{
   display: flex;
   height: 100vh;
}
.personalize-img{
   display: flex;
   justify-content: end;
   align-items: center;
   height: 100%;
   flex: 6;
}
.personalize-img img{
   width: 100%;
   height: auto;
}
.personalize-conteudo{
   flex: 2;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}
.personalize-conteudo-titulo .titulo{
   margin-bottom: 10px;
   padding-right: 75px;
}


.section-categoria{
   text-align: center;
   background-color: #f5f5f5;
   padding: 50px 0px;
}
.categorias{
   display: flex;
   justify-content: center;
   padding-top: 20px;
}
.categoria{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px;
}
.categoria-img1, .categoria-img2, .categoria-img3, .categoria-img4, .categoria-img5{
   width: 200px;
   height: 200px;
   
}
.categoria-img1{
   background-image: url(../images/categoria1.jpg);
   background-size: cover;
   background-position: center;
}
.categoria-img2{
   background-image: url(../images/categoria2.jpg);
   background-size: cover;
   background-position: center;
}
.categoria-img3{
   background-image: url(../images/categoria3.jpg);
   background-size: cover;
   background-position: center;
}
.categoria-img4{
   background-image: url(../images/categoria4.jpg);
   background-size: cover;
   background-position: center;
}
.categoria-img5{
   background-image: url(../images/categoria5.jpg);
   background-size: cover;
   background-position: center;
}
.categoria-titulo{
   text-transform: uppercase;
   font-family: 'Bebas Neue', cursive;
   letter-spacing: 3px;
   font-size: 13px;
   padding-top: 10px;
}

.section-popular{
   max-width: 1200px;
   padding: 50px 0px;
   margin: auto;
   overflow: hidden;
}
.section-popular h3.titulo-menor{
   text-align: center;
}
.populares-sliders{
   width: 1000vw;
   height: 100%;
}
.section-popular .slide{
   width: 280px;
   height: 100%;
   display: inline-block;
   
   margin: 10px;
}
.section-popular .slide .frete-gratis{
   padding: 10px;
   text-transform: uppercase;
   font-size: 12px;
   background-color: #4A4A49;
   color: #FFDA00;
   display: inline-block;
   margin: 10px;
}
.section-popular .slide .desconto{
   padding: 10px;
   text-transform: uppercase;
   font-size: 12px;
   background-color: #FFDA00;
   color: #000;
   display: inline-block;
   margin-left: 10px;
}
.section-popular .slide .titulo{
   text-transform: uppercase;
   font-size: 13px;
   margin-top: 10px;
}
.section-popular .slide .preco{
   font-family: 'Bebas Neue', cursive;
   font-size: 15px;
   margin: 10px 0px; 
}
.section-popular .slide .parcela{

}
.section-popular .slide .img1,
.section-popular .slide .img2,
.section-popular .slide .img3,
.section-popular .slide .img4,
.section-popular .slide .img5,
.section-popular .slide .img6,
.section-popular .slide .img7{
   background-position: center;
   background-size: cover;
   width: 280px;
   height: 280px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.section-popular .slide .img1{
   background-image: url(../../media/popular1.jpg);
}
.section-popular .slide .img2{
   background-image: url(../../media/popular2.jpg);
}
.section-popular .slide .img3{
   background-image: url(../../media/popular3.jpg);
}
.section-popular .slide .img4{
   background-image: url(../../media/popular4.jpg);
}
.section-popular .slide .img5{
   background-image: url(../../media/popular1.jpg);
}
.section-popular .slide .img6{
   background-image: url(../../media/popular2.jpg);
}
.section-popular .slide .img7{
   background-image: url(../../media/popular3.jpg);
}
/* .area-sliders{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.area-sliders .botao-slider{
   border: 1px solid #4A4A49;
   width: 40px;
   height: 40px;
   border-radius: 20px;
   font-size: 20px;
} */

.section-premium{
   height: 690px;
   background-image: url(../../media/fundocanivete.jpg);
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.section-premium .desc{
   width: 50%;
   display: flex;
   flex-direction: column;
   padding-left: 100px;
}
.section-premium .titulo-light{
   width: 255px;
}


.section-depoimento{
   max-width: 1200px;
   padding: 50px 0px;
   margin: auto;
   overflow: hidden;
}
.section-depoimento h3.titulo-menor{
   text-align: center;
   margin-bottom: 50px;
}
.depoimentos-sliders{
   width: 1000vw;
   height: 500px;
}
.section-depoimento .slide{
   width: 280px;
   height: 100%;
   display: inline-block;
   margin: 10px;
   position: relative;
}
.section-depoimento .img{
   display: flex;
   justify-content: center;
   
   
}
.section-depoimento .conteudo{
   display: inline-block;
   border: 1px solid #4A4A49;
   border-radius: 5px;
   position: absolute;
   top: 40px;
   z-index: -99;
}
.section-depoimento .conteudo-titulo{
   text-align: center;
   margin-top: 60px;
   font-family: 'Bebas Neue', cursive;
   font-size: 25px;
}
.section-depoimento .conteudo-funcao{
   text-align: center;
   color: #4A4A49;
   font-size: 13px;
   padding-top: 10px;
   padding-bottom: 20px;
}
.section-depoimento .conteudo-estrela{
   text-align: center;
}
.section-depoimento .conteudo-desc{
   text-align: center;
}
.section-depoimento .conteudo-desc p{
   color: #292929;
   line-height: 20px;
   padding: 20px;
}



.next{
   height: 100px;
   background-color: yellowgreen;
}